body {
    font-family: Verdana;
    text-align: center;
    background-color: bisque;
}

.myIcon {
    color: rgb(190, 166, 136);
    margin-top: 100px;
    font-size: 100px;
}

h1 {
    margin-bottom: 50px;
}

h1 span {
    color: rgb(141, 125, 105);
    background-color: rgb(232, 207, 174);
    padding: 15px;
    border-radius: 30px;
}

label, input, p{
    color: rgb(141, 125, 105);
    font-size: 20px;
}

#inputDay {
    background-color: rgb(232, 207, 174);
    border: none;
    border-radius: 50px;
    padding: 10px;
}

#inputDay:focus {
    outline: none;
}

#submitDay {
    background-color: rgb(232, 207, 174);
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    cursor: pointer;
}
#submitDay:hover {
    background-color: rgba(232, 207, 174, 0.695);
    cursor: pointer;
}

button {
    background-color: bisque;
    font-size: 60px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
}

#songVolumeOn {
    color: rgb(190, 166, 136);
}

#songVolumeOff {
    display: none;
    color: rgb(190, 166, 136);
}